.img-profile
{
    width: 3.6em;
    height: 3.6em;
    padding-right: 0.65em;
    float: left;
    /*
    left: -5px;
     */
}

#profile-link{
   padding-top: 0.15em;
   padding-bottom: 0.15em;
}

#navbarTop{
  padding-top: 0.2em;
  padding-bottom: 0.15em;
}

ul.dropdown-menu > li > a > i.fa{
  margin-right: 0.3em;
}

ul.dropdown-menu > li > a {
  padding-left: 1.3em;
}
